<form
    id="tagForm"
    data-modal-close
    hx-post="{{ action }}"
    hx-target="#tagsTable"
    hx-swap="innerHTML">
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Namn</label>
            <input 
                class="form-control" 
                name="name" 
                value="{{ tag.name if tag else '' }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Beskrivning</label>
            <input 
                class="form-control" 
                name="description" 
                value="{{ tag.description if tag else '' }}">
        </div>
        <div class="mb-3">
            <label class="form-label">
                Taggtyp
            </label>
            <select
                class="form-select"
                id="tagType"
                name="tag_type">
                {% for tag_type in tag_types %}
                    <option
                        value="{{ tag_type.name }}"
                        {% if tag_type == tag.tag_type %}
                            selected
                        {% endif %}>
                        {{ tag_type.value }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            Spara
        </button>
    </div>
</form>