<!-- Klasser -->
<table class="table table-hover mb-0">
    <colgroup>
        <col style="width: 20%">
        <col style="width: 10%">
        <col style="width: 30%">
        <col style="width: 10%">
        <col style="width: 20%">
    </colgroup>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Frågor</th>
            <th>Beskrivning</th>
            <th>Typ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if tags %}
            {% for tag in tags %}
            <tr>
                <td>
                    {{ tag.name }}
                </td>
                <td>
                    {{ tag.questions|length }}
                </td>
                <td>
                    {{ tag.description }}
                </td>
                <td>
                    {{ tag.tag_type.value }}
                </td>
                <td class="text-end">
                    <button
                        class="btn btn-sm btn-outline-primary"
                        hx-get="{{ url_for('tags.edit_tag_modal', tag_id=tag.id) }}"
                        hx-target="#tagModalContent"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#tagModal">
                        Ändra
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3" class="text-center text-muted">
                Tom tabell.
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>