<div class="sticky-table-container">
    <table class="table table-hover mb-0 sticky-table">
        <thead>
            <tr>
                <th class="sortable">
                    Fråga
                    <i class="bi bi-chevron-expand ms-1"></i>
                </th>
                <th class="sortable">
                    Skapad
                    <i class="bi bi-chevron-expand ms-1"></i>
                </th>
                <th class="sortable">
                    Ämne
                    <i class="bi bi-chevron-expand ms-1"></i>
                </th>
                <th class="sortable">
                    Område
                    <i class="bi bi-chevron-expand ms-1"></i>
                </th>
                <th class="sortable">
                    Kortlek
                    <i class="bi bi-chevron-expand ms-1"></i>
                </th>
                <th class="sortable">
                    Allmän
                    <i class="bi bi-chevron-expand ms-1"></i>
                </th>
                <th class="sortable">
                    Svarstyp
                    <i class="bi bi-chevron-expand ms-1"></i>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <!-- FRÅGA -->
                <td>
                    {{ question.text }}
                </td>
                <!-- SKAPAD -->
                <td>
                    {{ question.created_at.strftime("%Y-%m-%d") }}
                </td>
                <!-- ÄMNE -->
                <td>
                    {% for tag in question.tags %}
                        {% if tag.tag_type.name == "SUBJECT" %}
                            {{ tag.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <!-- OMRÅDE -->
                <td>
                    {% for tag in question.tags %}
                        {% if tag.tag_type.name == "AREA" %}
                            {{ tag.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <!-- KORTLEK -->
                <td>
                    {% for tag in question.tags %}
                        {% if tag.tag_type.name == "DECK" %}
                            {{ tag.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <!-- ALLMÄN -->
                <td>
                    {% for tag in question.tags %}
                        {% if tag.tag_type.name == "OTHER" %}
                            {{ tag.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <!-- SVARSTYP -->
                <td>
                    {{ question.question_type.value }}
                </td>
                <!-- ÄNDRA -->
                <td class="text-end">
                    <a
                        href="{{ url_for(
                            'questions.edit_question',
                            question_id=question.id
                        ) }}"
                        class="btn btn-sm btn-outline-primary">
                        Ändra
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td
                    colspan="8"
                    class="text-center text-muted py-4">
                    Tom tabell.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>