{% extends "base.html" %}

{% block title %}Startsida{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card p-4 shadow-sm">
            <h2 class="mb-4 text">Skapa ny fråga</h2>
            <form method="POST">               
                <div class="col-12 col-md-6 col-lg-6">
                    <label class="form-label">Frågetyp</label>
                    <select
                        class="form-select"
                        name="question_type">
                        {% for question_type in question_types %}
                            <option 
                                value="{{ question_type.name }}">
                                {{ question_type.value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="question_list">Frågetext (markdown + matjax):</label>
                    <textarea 
                    name="question" 
                    id="question_is" 
                    rows="5" 
                    class="form-control" 
                    style="white-space: pre-wrap; overflow-y: scroll;"></textarea>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Tillagda taggar</label>
                    {% if question != "" %}
                        {% if question.tags %}
                            <div class="d-flex flex-wrap gap-2">
                                {% for tag in student.tags %}
                                    <button
                                        type="button"
                                        class="badge text-bg-primary border-0"
                                        hx-post="{{ url_for('students.edit_student_modal', student_id=student.id) }}"
                                        hx-target="#studentModalContent"
                                        hx-swap="innerHTML"
                                        hx-include="#studentForm"
                                        hx-vals='{
                                            "action": "remove_team",
                                            "team_id": "{{ team.id }}"
                                        }'>
                                        {{ tag.name }} ×
                                    </button>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="text-muted">Inga taggar tillagda.</div>
                        {% endif %}
                    {% endif %}

                <div class="mb-3">
                    <label class="form-label">Ämnestaggar</label>
                    <div class="input-tag col-12 col-md-3 col-lg-2">
                        <div class="input-group">
                            <select
                                class="form-select tomselect-create"
                                name="tag">
                                {% for tag in tags %}
                                    {% if tag.tag_type.name == "SUBJECT" %}
                                        <option value="{{ tag.id }}">
                                            {{ tag.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button
                                type="button"
                                class="btn btn-outline-primary add-tomselect-btn"
                                hx-post="{{ url_for('questions.add_tag') }}"
                                hx-target="#studentModalContent"
                                hx-swap="innerHTML"
                                hx-include="#"
                                hx-vals='{"action": "add_tag"}'>
                                +
                            </button>
                        </div>
                    </div>

                    <label class="form-label">Områdestaggar</label>
                    <div class="input-tag col-12 col-md-3 col-lg-2">
                        <div class="input-group">
                            <select
                                class="form-select tomselect-create"
                                name="tag">
                                <option value=""></option>
                                {% for tag in tags %}
                                    {% if tag.tag_type.name == "AREA" %}
                                        <option value="{{ tag.id }}">
                                            {{ tag.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button
                                type="button"
                                class="btn btn-outline-primary add-tomselect-btn"
                                hx-post="{{ url_for('questions.add_tag') }}"
                                hx-target="#studentModalContent"
                                hx-swap="innerHTML"
                                hx-include="#"
                                hx-vals='{"action": "add_tag"}'>
                                +
                            </button>
                        </div>
                    </div>
 
                    <label class="form-label">Korllekstaggar</label>
                    <div class="input-tag col-12 col-md-3 col-lg-2">
                        <div class="input-group">
                            <select
                                class="form-select tomselect-create"
                                name="tag">
                                <option value=""></option>
                                {% for tag in tags %}
                                    {% if tag.tag_type.name == "DECK" %}
                                        <option value="{{ tag.id }}">
                                            {{ tag.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button
                                type="button"
                                class="btn btn-outline-primary add-tomselect-btn"
                                hx-post="{{ url_for('questions.add_tag') }}"
                                hx-target="#studentModalContent"
                                hx-swap="innerHTML"
                                hx-include="#"
                                hx-vals='{"action": "add_tag"}'>
                                +
                            </button>
                        </div>
                    </div>

                    <label class="form-label">Allmänna taggar</label>
                    <div class="input-tag col-12 col-md-3 col-lg-2">
                        <div class="input-group">
                            <select
                                class="form-select tomselect-create"
                                name="tag">
                                <option value=""></option>
                                {% for tag in tags %}
                                    {% if tag.tag_type.name == "OTHER" %}
                                        <option value="{{ tag.id }}">
                                            {{ tag.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button
                                type="button"
                                class="btn btn-outline-primary add-tomselect-btn"
                                hx-post="{{ url_for('questions.add_tag') }}"
                                hx-target="#studentModalContent"
                                hx-swap="innerHTML"
                                hx-include="#"
                                hx-vals='{"action": "add_tag"}'>
                                +
                            </button>
                        </div>
                    </div>
                </div>

                <!-- FYLL I SVAR BEROENDE PÅ FRÅGETYP --> 
                <div class="card mb-4">
                    <div class="card-body p-0" id="questionsTable">
                        {% include "questions/_single_answer.html" %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-3 col-lg-2">
                        <button type="submit" class="btn btn-primary w-100">Kopiera fråga</button>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2">
                        <button type="submit" class="btn btn-primary w-100">Spara fråga</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}