<form  
    id="groupsForm"
    data-modal-close
    hx-post="{{ action }}"
    hx-target="#groupsTable"
    hx-swap="innerHTML">
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="group_list">En klass per rad:</label>
            <textarea 
                class="form-control"     
                name="group_list" 
                id="group_list" 
                rows="5"                 
                style="white-space: pre-wrap; overflow-y: scroll;"></textarea>
        </div>
        <div class="form-check">
            <label class="form-check-label">Arkivera</label>
            <input 
                class="form-check-input" 
                type="checkbox" 
                name="archived" 
                value="true"
                {% if group and not group.is_active %}checked{% endif %}>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            Spara
        </button>
    </div>
</form>


        