<form
    id="teamForm"
    data-modal-close
    hx-post="{{ action }}"
    hx-target="#teamsTable"
    hx-swap="innerHTML">
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Namn</label>
            <input 
                class="form-control" 
                name="name" 
                value="{{ team.name if team else '' }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Beskrivning</label>
            <input 
                class="form-control" 
                name="description" 
                value="{{ team.description if team else '' }}">
        </div>
    </div>    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            Spara
        </button>
    </div>
</form>