<!-- MODAL FÖR SKAPA/ÄNDRA GRUPPER -->
<div class="modal fade" id="teamModal" tabindex="-1" aria-hidden="true">
     <div class="modal-dialog">
        <form method="post" action="" id="teamForm">
            <input type="hidden" name="next" id="teamNext">
            <input type="hidden" name="team_id" id="teamId">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="teamModalTitle">
                        Ny grupp
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">
                            Namn
                        </label>
                        <input class="form-control" name="name" id="teamName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Beskrivning
                        </label>
                        <textarea
                            class="form-control"
                            name="description"
                            id="teamDescription">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Avbryt
                    </button>
                    <button
                        class="btn btn-primary">
                        Spara
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>