{% extends "base.html" %}

{% block title %}Startsida{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Inloggad som {{ student.name }}</h4>
        </div>
    <div class="card-header bg-light text-white"></div>
        <h5>Uppgifter</h5>
    </div>
    <ul>
    {% for a in assignments %}
        <li>
            <a href="/assignment/{{a.id}}">
                {{a.question_id}}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}