{% extends "base.html" %}

{% block title %} Elever {% endblock %}

{% block content %}

<!-- SIDHUVUD -->
<div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Hantera elever</h2>
        <div class="d-flex gap-2">
            <a
                href="{{ url_for('students.import_students') }}"
                class="btn btn-primary">
                Nya elever
            </a>
        </div>
    </div>
    <!-- TABELLFILTER -->
    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <label>Sök elev</label>
            <input 
                class="form-control" 
                id="studentSearch"
                placeholder="Skriv namn...">
        </div>  
        <div class="col-12 col-md-3">
            <label>Klasser</label>
            <select class="form-select" id="groupFilter">
                <option value="">Alla klasser</option>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 col-md-3">
            <label>Grupper</label>
            <select class="form-select" id="teamFilter">
                <option value="">Alla grupper</option>
                {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <!-- TABELL --> 
    <form method="post" action="{{url_for('students.create_admin_response')}}">
        <div class="sticky-table-container">
            <table 
                id="studentTable" 
                class="table table-hover sticky-table"
                data-new-code-url="{{ url_for('students.generate_student_code_api') }}"
                data-logout-url="{{ url_for('auth.logout_student', student_id=0) }}">
                <thead>
                    <tr>
                        <th>
                            <input 
                            type="checkbox" 
                            id="selectAll">
                        </th>
                        <th class="sortable">Namn</th>
                        <th class="sortable">Klass</th>
                        <th class="sortable">Senaste svar</th>
                        <th class="sortable">Inlogg</th>
                        <th></th>
                        <th>
                            <button
                            class="btn btn-success btn-sm"
                            name="type"
                            value="assignment">
                            Uppgift
                            </button>
                            <button
                            class="btn btn-success btn-sm"
                            name="type"
                            value="observation">
                            Observation
                            </button>
                            <button
                            class="btn btn-success btn-sm"
                            name="type"
                            value="note">
                            Notering
                            </button>
                        </th>
                        <th>
                            <button
                            class="btn btn-sm btn-warning edit-students-button"
                            id="bulkEditStudentsBtn"
                            type="button"
                            data-next="students.manage_groups"
                            data-bs-toggle="modal"
                            data-bs-target="#bulkEditModal">
                            Ändra
                            </button>   
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr data-name="{{student.name.lower()}}" data-group="{{student.group_id}}">
                            <td>
                                <input 
                                type="checkbox"
                                name="studentsIds"
                                value="{{student.id}}">
                            </td>
                            <td>{{student.name}}</td>
                            <td>{{student.group.name}}</td>
                            <td>
                                {% if student.last_response %}
                                    {{student.last_response.strftime("%Y-%m-%d %H:%M")}}
                                {% else %}
                                    Aldrig
                                {% endif %}
                            </td>
                            <td>{{student.access_code}}</td>
                            <td>
                                <a 
                                href="{{url_for('dashboard.student_view', student_id=student.id)}}"
                                class="btn btn-sm btn-outline-success">
                                Student vy
                                </a>
                                <a 
                                href="{{url_for('students.student_timeline', student_id=student.id)}}"
                                class="btn btn-sm btn-outline-success">
                                Progression
                                </a>                           
                            </td>
                            <td>
                                <a
                                href="{{ url_for('assignments.add_assignment_post', student_id=student.id) }}"
                                class="btn btn-sm btn-outline-primary">
                                Uppgift
                                </a>
                                <a
                                href="{{ url_for('responses.add_observation', student_id=student.id) }}"
                                class="btn btn-sm btn-outline-primary">
                                Observation
                                </a>
                                <a
                                href="{{ url_for('responses.add_note', student_id=student.id) }}"
                                class="btn btn-sm btn-outline-primary">
                                Notering
                                </a>
                            </td>
                            <td>
                                <button                             
                                class="btn btn-sm btn-outline-warning edit-student-btn"
                                type="button"
                                data-id="{{ student.id }}"
                                data-name="{{ student.name }}"
                                data-group-id="{{ student.group_id }}"
                                data-code="{{ student.access_code }}"
                                data-teams='{{ student.teams | map(attribute="id") | list | tojson }}'
                                data-bs-toggle="modal"
                                data-bs-target="#studentModal">
                                Ändra
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    </div>
</div>

<!-- MODAL FÖR ATT ÄNDRA EN ELEV -->
<div class="modal fade" id="studentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Ändra elev
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="studentId">
                        <!-- Namn -->
                        <label class="form-label">Namn</label>
                        <div class="input-group mb-3">
                            <input 
                                class="form-control" 
                                id="studentName" 
                                value="">
                            <button
                                class="btn btn-primary"
                                type="button"
                                id="changeStudentNameBtn"
                                title="Ändra namn">
                            <->
                            </button>
                        </div>
                        <!-- Klass -->
                        <label class="form-label">Klass</label>
                        <div class="input-group mb-3">
                            <select 
                                class="form-select" 
                                id="studentGroup">
                                {% for group in groups %}
                                <option value="{{ group.id }}">
                                    {{ group.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <button
                                type="button"
                                class="btn btn-primary"
                                id="changeStudentGroupBtn"
                                title="Byt klass">
                                <->
                            </button>
                        </div>
                        <!-- Aktiva grupper -->
                        <label class="form-label">Aktiva grupper</label>

                        <div 
                            id="studentTeams"
                            class="mb-3">
                        </div>


                        <!-- Lägg till grupp -->
                        <label class="form-label">Lägg till grupp</label>

                        <div class="input-group mb-3">

                            <select
                                class="form-select"
                                id="availableTeams">

                                {% for team in teams %}
                                <option value="{{ team.id }}">
                                    {{ team.name }}
                                </option>
                                {% endfor %}

                            </select>

                            <button
                                type="button"
                                class="btn btn-primary"
                                id="addTeamBtn">
                                +
                            </button>

                        </div>
                        <!-- Kod -->
                        <label class="form-label">
                            Inloggningskod
                        </label>
                        <div class="input-group mb-3">
                            <input
                                class="form-control"
                                id="accessCode"
                                value="">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                id="generateCodeBtn">
                                Föreslå kod
                            </button>
                                <button
                                type="button"
                                class="btn btn-primary"
                                id="changeCodeBtn">
                                <->
                            </button>
                        </div>
                        <hr>
                        <!-- Logga ut -->
                        <button
                            type="button"
                            class="btn btn-outline-warning w-100 mb-2 logout-student-btn"
                            id="logoutStudentBtn">
                            Logga ut elev
                        </button>
                        <!-- Avaktivera -->
                        <button
                            type="button"
                            class="btn btn-outline-danger w-100 mb-2 deactivate-student-btn"
                            id="deactivateStudentBtn">
                            Avaktivera elev
                        </button>
                        <div
                            id="studentMessage"
                            class="alert alert-success mt-3 d-none">
                        </div>
                    </div>
        </div>
    </div>
</div>

<!-- MODAL FÖR ATT ÄNDRA FLERA ELEVER -->
<div class="modal fade" 
id="editSelectedModal" 
tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('students.update_selected') }}">
                <div class="modal-header">
                    <h5 class="modal-title">Gör ändringar på markerade elever</h5>
                    <button 
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">
                        <span id="selected-count">
                            0
                        </span>
                    elever markerade
                    </p>
                    <div id="selected-container"></div>
                    <div class="input-group mb-3">
                        <a 
                        href="{{ url_for('groups.create_group') }}"
                        class="btn btn-outline-primary"
                        title="Skapa ny grupp">
                        -
                        </a>
                        <select 
                        class="form-select"
                        name="team_id">
                        {% for team in teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                        </select>
                        <a 
                        href="{{ url_for('groups.create_group') }}"
                        class="btn btn-outline-primary"
                        title="Skapa ny grupp">
                        +
                        </a>                   
                    </div>
                    <div class="input-group">
                        <input
                        type="text"
                        class="form-control"                               
                        name="new_team_name"
                        placeholder="Ny grupp (t.ex. Lejonen)">
                        <button
                        type="button"
                        class="btn btn-outline-primary new-group-btn"
                        data-student-id="">
                        Ny grupp
                        </button>
                    </div>
                    <hr>
                    <button
                    type="button"
                    class="btn btn-outline-primary w-100 mb-2"
                    id="new-code-selected">
                    Generera nya koder
                    </button>
                    <button
                    type="button"
                    class="btn btn-outline-warning w-100 mb-2"
                    id="logout-selected">
                    Logga ut elever
                    </button>
                    <button
                    type="button"
                    class="btn btn-outline-danger w-100 mb-2"
                    id="deacitvateSelected">
                    Avaktivera elever
                    </button>
                    <div 
                    id="selected-message"
                    class="alert alert-success mt-3 d-none">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/students.js') }}"></script>

{% endblock %}